### Задание 0 - Отрабатываем арифметические операции

С помощью арифметических операторов `+,-,/,*,//,%,**` найдите значения следующих выражений:
1. остаток от деления 101 на 10
2. целая часть от деления 98 на 12
3. кубический корень из 27
4. сложите значения, полученные в пункте 1 и 3. Результат возведите в степень -1

In [ ]:
one = 101 % 10
print(one)

1

In [ ]:
a = 98
b = 12
two = a // b
print(two)

8

In [ ]:
three = 27 ** (1 / 3)
print(three)

3.0

In [ ]:
four = one + three
print(pow(four, -1))

0.25

### Задание 1 - Отрабатываем логические операторы

Замените знак вопроса на один из логических операторов: `not, and, or`, чтобы получить указанный в комментариях результат выражения

In [ ]:
# замените ? так, чтобы получить True
not False

True

In [ ]:
# замените ? так, чтобы получить True
True or False

True

In [ ]:
# замените ? так, чтобы получить False
(1 < 0) and (9 <= 10)

False

In [ ]:
# замените ? так, чтобы получить False
(10 == '10') and True

False

In [ ]:
# замените ? так, чтобы получить False
not (10 == 10) and (1 == 1)

False

In [ ]:
# замените ? так, чтобы получить True
not ((10 == 10) and not (1 == 1))

True

### Задание 2 - Типы данных

Выполните действия, описанные в комментарии каждой ячейки

In [ ]:
# ПРИМЕР
# выведите тип данных, полученного в результате следующего действия:
# приведите число 1.222 к типу int
type(int(1.222))

int

In [ ]:
# выведите тип данных, полученного в результате следующего действия:
# возьмите пустую строку и умножьте ее на -1
type(str("" * -1))

str

In [ ]:
# разделите 1234 на 100 . результат приведите к типу str
num = str(1234 / 100)
num

'12.34'

In [ ]:
# возьмите любую строку, найдите ее длину. результат приведите к типу float
hi = len("Hello World")
float(hi)

11.0

In [ ]:
# возьмите любую непустую строку, найдите ее длину. результат приведите к типу bool
hello = len("Hi, I'm from Russia")
bool(hello)

True

In [ ]:
# возьмите ПУСТУЮ строку, найдите ее длину. результат приведите к типу bool
yep = len("")
bool(yep)

False

подумайте, какие числа при явном приведении в тип bool в результате дают `True`, а какие `False`

In [ ]:
print(bool(""))
print(bool(0))
print(bool([]))
print(bool(()))
print(bool(5))
print(bool(-5))
print(bool("Hello"))
print(bool("           "))

False
False
False
False
True
True
True
True