В этой практике отрабатываем работу со структурами данных:

- Списки
- Кортежи
- Строки
- Множества
- Словари

А также попрактикуемся в использовании comprehensions.

### Блок 1

Отрабатываем умение работать со списками и производить различные операции над ними. В данном блоке заданий старайтесь проверять решение на разных списках, с разными значениями и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Перевернуть список*

Дан список значений. Поменяйте местами первую половину списка и вторую половину списка.

Проверьте, что ваш код:
- занимает не более трех строчек кода для одного списка (одна из которых предназначена для вывода результата на экран)
- используйте slicing

In [ ]:
# опробируйте на списках разной длины (попробуйте свои собственные эксперименты)
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [1, 2, 3, 4]
list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [ ]:
middle1 = len(list1) // 2
list1 = list1[middle1:] + list1[:middle1]
print(f'результат на списке list1 = {list1}')

middle2 = len(list2) // 2
list2 = list2[middle2:] + list2[:middle2]
print(f'результат на списке list2 = {list2}')

middle_3 = len(list_3) // 2
list_3 = list_3[middle_3:] + list_3[:middle_3]
print(f'результат на списке list_3 = {list_3}')

результат на списке list1 = [4, 5, 6, 7, 1, 2, 3]
результат на списке list2 = [3, 4, 1, 2]
результат на списке list_3 = [9, 10, 11, 12, 13, 14, 15, 16, 17, 1, 2, 3, 4, 5, 6, 7, 8]

*Задача 1 - Сдвиг вправо*

Дан список значений. Циклически сдвиньте элементы списка вправо:

- `list[0]` переходит на `list[1]`
- `list[1]` на место `list[2]`
- и так далее
- последний элемент переходит на место `list[0]`

Используйте slicing

In [ ]:
list2 = [1, 2, 3, 4]
result_2 = [list2[-1]] + list2[:-1]
print(f'результат = {result_2}')

результат = [4, 1, 2, 3]

In [ ]:
list_a = [1, 2, 3, 4, 5, 6, 7]
result_a = [list_a[-1]] + list_a[:-1]
print(f'результат = {result_a}')

результат = [7, 1, 2, 3, 4, 5, 6]

*Задача 2 - Отрабатываем операции над списками*

В переменной `result` дан список. Произведите с ним следующие действия:
- Оставьте в нем первую половину элементов.
- Добавьте в текущий список столько же нулей, сколько сейчас элементов в `result`
- Предпоследний элемент сделайте равным 100
- Посчитайте сумму элементов в данном цикле и выведите ее на экран

На каждом шаге выводите промежуточный результат

In [ ]:
result = [1, 100, -100, 23, 13, 78, 89, 90, 100, 0]

In [ ]:
middle_result = len(result) // 2
result = result[:middle_result]
print(f'результат = {result}')

result += len(result) * [0]
print(f'результат = {result}')

result[-2] = 100
print(f'результат = {result}')

sum = sum(result)
print(f'ответ = {sum}')

результат = [1, 100, -100, 23, 13]
результат = [1, 100, -100, 23, 13, 0, 0, 0, 0, 0]
результат = [1, 100, -100, 23, 13, 0, 0, 0, 100, 0]
ответ = 137

*Задача 3 - Перестановка минимума и максимума*

Дан список. С помощью кода найдите минимальные и максимальные элементы, переставьте их местами.
Для нахождения индекса элемента по значению воспользуйтесь функцией индекс.

In [ ]:
result = [1, 100, -1000, 23, 13, 78, 89, 90, 12345, 12000]
min = result.index(min(result))
max = result.index(max(result))
result[min], result[max] = result[max], result[min]
print(result)

[1, 100, 12345, 23, 13, 78, 89, 90, -1000, 12000]

In [ ]:
# пример использования метода index: находим индекс элемента 13
result.index(13)

4

*Задача 4 - Соседи*

Дан список. Выведите все элементы списка, которые строго больше предыдущего элемента. Для итерирования по элементам списка используйте цикл.

In [ ]:
list3 = [1, 2, 100, 99, 88, -1 , 0, 0, 10]

for i in range(len(list3)):
    if list3[i] > list3[i - 1]:
        print(list3[i])

2
100
0
10

*Задача 5 - Найти все вхождения числа в список*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из введенных чисел равно единице.

In [ ]:
user_list = input('Введите список чисел через пробел: ').split()
count = 0

for number in user_list:
    if number == '1':
        count += 1
print(f'Количество единиц равно = {count}')

Введите список чисел через пробел: 1 3 1 3 1 3 1 3 1 3 12 12
Количество единиц равно = 5

*Задача 6 - Больше всех своих соседей (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из чисел строго больше двух своих соседей. Также выведите эти самые числа на экран.

In [ ]:
user_list = input('Введите список чисел через пробел: ').split()
count = 0
result_list = list()

for num in range(len(user_list)):
    if int(user_list[num]) > int(user_list[num - 1]) and int(user_list[num]) > int(user_list[num + 1]):
        count += 1
        result_list.append(user_list[num])
print(f'Список чисел: {" ".join(result_list)} Общее количество = {count}')

Введите список чисел через пробел: 1 10 9 -1 3 5 7 7 7 9 8 9 9
Список чисел: 10 9 Общее количество = 2

*Задача 7 - Проредить массив (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Создайте новый список, на базе исходного, в котором переставьте все нули списка в конец, а все ненулевые элементы оставьте в начале списка в том же порядке, в каком они были изначально. Выведите результат на экран.

In [ ]:
user_list = input('Введите список чисел через пробел: ').split()
result_list = []

for number in user_list:
    if number != '0':
        result_list.append(int(number))
result_list.extend([0] * (len(user_list) - len(result_list)))
print(f'result = {result_list}')

Введите список чисел через пробел: 1 0 1 0 2 0 3 0 0 4 0 0 0
result = [1, 1, 2, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0]

### Блок 2

Отрабатываем умение работать с кортежами, множествами и словарями. В данном блоке заданий старайтесь проверять решение на разных наборах значений и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Общие элементы*

Даны два списка. Найдите элементы, которые есть и в первом списке и во втором, выведите их количество на экран

In [ ]:
list1 = [1, 2, 3, 'p', -1, 20, 0.2, 'u']
list2 = [11, 22, 33, 'p', -1, 20.2, 0.2]
copies = len(set(list1) & set(list2))
print(copies)

3

*Задача 1 - Уникальные элементы*

Пользователь вводит числа на экран в одну строку через пробел. Выведите, сколько уникальных чисел было введено.

In [ ]:
user_list = input('Введите список чисел через пробел: ').split()
count_unique = len(set(user_list))
print(f'Количество уникальных элементов = {count_unique}')

Введите список чисел через пробел: 1 2 3 1 2 3 1 1 1
Количество уникальных элементов = 3

*Задача 2 - Площадь*

Даны списки из 2 элементов, каждый из которых является координатами точек A и B соответственно. Напишите функцию, которая ищет расстояние между этими точками. Найти расстояние между двумя точками можно по формуле Евклидова расстояния.

https://ru.wikipedia.org/wiki/%D0%95%D0%B2%D0%BA%D0%BB%D0%B8%D0%B4%D0%BE%D0%B2%D0%B0_%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B0

PS. Попробуйте запустить программу на разных точках с разными размерностями

In [ ]:
#coords = [(10, 10), (10, 11)]
coords = [(100, 20), (20, 20)]
#coords = [(100, 91, 87), (80, 35, 70)]
#coords = [(90, 60, 20), (80, 50, 60)]

In [ ]:
a = coords[0]
b = coords[1]
interval = ((b[0] - a[0])**2 + (b[1] - a[1])**2)**0.5
print(interval)

80.0

In [ ]:
a = coords[0]
b = coords[1]
interval = ((b[0] - a[0])**2 + (b[1] - a[1])**2 + (b[2] - a[2])**2)**0.5
print(interval)

61.84658438426491

In [ ]:
a = coords[0]
b = coords[1]
sum_of_squares = 0

for i in range(len(a)):
    different = b[i] - a[i]
    sum_of_squares = sum_of_squares + different ** 2
interval = sum_of_squares ** 0.5
print(interval)

80.0

*Задача 3 - Количество повторений слов*

В переменной `text` записан некоторый текст. Посчитайте частотность появления каждого уникального слова в тексте. Используйте для хранения частотности наиболее подходящую структуру данных.

В результате выведите информацию по частотности каждого слова на экран.

Словом будем считать последовательности символов, отделенную пробелом от следующей последовательности символов.

In [ ]:
text = '''She sells sea shells on the sea shore \
The shells that she sells are sea shells I'm sure \
So if she sells sea shells on the sea shore \
I'm sure that the shells are sea shore shells'''

In [ ]:
words = text.split()
dictionary = {}

for word in words:
    word = word.lower()
    if word in dictionary:
        dictionary[word] += 1
    else:
        dictionary[word] = 1
print(dictionary)

{'she': 3, 'sells': 3, 'sea': 6, 'shells': 6, 'on': 2, 'the': 4, 'shore': 3, 'that': 2, 'are': 2, "i'm": 2, 'sure': 2, 'so': 1, 'if': 1}

*Задача 4 - Средний балл*

В переменной `grades` записаны оценки учеников за экзамен по физике в разных классах одной параллели. Рассчитайте средний балл по каждому классу, и средний балл по параллели целиком. Выведите результаты на экран, округлив все значения с точностью до 2 знаков.

In [ ]:
grades = {
    '11A': [4, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 3],
    '11B': [3, 5, 3, 4, 4, 5, 4, 5, 4, 5, 5, 5],
    '11C': [3, 3, 4, 4, 4, 5, 5, 5, 5, 5,],
    '11D': [4, 4, 4, 5, 4, 5, 5, 5, 4, 4, 4, 4],
    '11E': [3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 4, 3]
}

In [ ]:
class_averages = {}
all_grades = 0
sum_grades = 0

for class_name, class_grades in grades.items():
    average = sum(class_grades) / len(class_grades)
    class_averages[class_name] = average
    sum_grades += sum(class_grades)
    all_grades += len(class_grades)
for class_name, average in class_averages.items():
    print(f'средний балл {class_name} = {average:.2f}')

GPA = sum_grades / all_grades
print(f'средний балл параллели = {GPA:.2f}')

средний балл 11A = 4.58
средний балл 11B = 4.33
средний балл 11C = 4.30
средний балл 11D = 4.33
средний балл 11E = 4.08
средний балл параллели = 4.32

средний балл 11A = 4.58
средний балл 11B = 4.33
средний балл 11C = 4.42
средний балл 11D = 4.33
средний балл 11E = 4.17
средний балл параллели = 4.37

*Задача 5 - Проверка на новизну*

Пользователь вводит числа на экран в строку через пробел. Для каждого числа выведите `y` или `n`. `y` - если данное число до этого встречалось в списке, `n` - если нет.

In [ ]:
user_list = input().split()
result = list()
unique_set = set()

for numeric in user_list:
    if numeric in unique_set:
        result.append('y')
    else:
        result.append('n')
        unique_set.add(numeric)
print(' '.join(result))

1 2 3 1 2 3 3 3 3 3 3 1 2 5 6 9 4 5 4 8 9 5 3 2 3 1 2 7
n n n y y y y y y y y y y n n n n y y n y y y y y y y n

1 2 3 1 2 3 3 3 3 3 3 10
n n n y y y y y y y y n

*Задача 6 - Значения роста* (Дополнительная!)

В словаре `students` хранится рост студентов, измеренный на первом занятии физкультуры.
Приходит новый студент, через строку ввода он указывает свои ФИО и рост. Запишите его данные в словарь, и выявите, какой по очереди он будет стоять в шеренге, отсортированной по убыванию роста (расчет в шеренге начинается единицы). Если у двух студентов рост одинаковый, наш студент будет стоять последним.

In [ ]:
students = {
    'ИвановИИ': 170,
    'ЖдановИЮ': 183,
    'ИвановаАА': 168,
    'МаркинаГА': 169,
    'ПетроваАВ': 172,
    'ПотаповЮР': 175,
    'ЛарионовСБ': 177
}

In [ ]:
new_student = input('Введите ФИО: ')
height = int(input('Введите рост: '))
students[new_student] = height
sorted = list(students.keys())

for a in range(len(sorted)):
    for b in range(a, len(sorted)):
        if students[sorted[a]] < students[sorted[b]]:
            sorted[a], sorted[b] = sorted[b], sorted[a]

line = 0
for student in sorted:
    if students[student] >= height:
        line += 1
print(f'номер в шеренге = {line}')

Введите ФИО: ПавловВА
Введите рост: 168
номер в шеренге = 8

Введите ФИО Потапов
Введите рост 190
номер в шеренге =1

### Блок 3

В этом блоке отрабатываем умение пользоваться list/dict comprehensions, а также функцию zip.

11 пункт - дополнительный

*Задача 0 - Отрабатываем умение писать генераторы*

Определите генераторы, по описанию в комментариях. Выведите результат генерации на экран

In [ ]:
# 1. сгенерируйте список строк: user1, user2, user3 итд до user15
user_list = [f'user{i}' for i in range(1, 16)]
user_list

['user1',
 'user2',
 'user3',
 'user4',
 'user5',
 'user6',
 'user7',
 'user8',
 'user9',
 'user10',
 'user11',
 'user12',
 'user13',
 'user14',
 'user15']

In [ ]:
# 2. сгенерируйте список из 10 случайных значений от -10 до 10
import random

random_list = [random.randint(-10, 10) for i in range(10)]
print(random_list)

[8, -5, -9, 7, 4, -5, 7, 10, -4, -9]

In [ ]:
# 3. сгенерируйте список из квадратных корней всех чисел от 16 до 25 включительно. Округлите все значения до двух знаков после запятой
square_list = [round((i ** 0.5), 2) for i in range(16, 26)]
print(square_list)

[4.0, 4.12, 4.24, 4.36, 4.47, 4.58, 4.69, 4.8, 4.9, 5.0]

In [ ]:
# 4. сгенерируйте список из четных числа от 40 до 60 включительно без использования if
even_numbers = [number for number in range(40, 61, 2)]
print(even_numbers)

[40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [ ]:
# 5. в предыдущем генераторе добавьте условие: если число делится на 6 - его не включать в список значений
even_numbers = [number for number in range(40, 61, 2) if number % 6 != 0]
print(even_numbers)

[40, 44, 46, 50, 52, 56, 58]

In [ ]:
# 6. сгенерируйте список из четных числа от 40 до 60 включительно. Если какое то из четных чисел делится на 6 - вместо него поставьте символ 'Y'
even_numbers = ['Y' if number % 6 == 0 else number for number in range(40, 61, 2)]
print(even_numbers)

[40, 'Y', 44, 46, 'Y', 50, 52, 'Y', 56, 58, 'Y']

In [ ]:
# 7. сгенерируйте словарь, в котором ключи это значения из списка list1, а значения - это коичество символов в названии ключа
list1 = ['yellow', 'green', 'blue', 'red', 'pink', 'deep-blue', 'white']
letters_of_color = {color: len(color) for color in list1}
letters_of_color

{'yellow': 6,
 'green': 5,
 'blue': 4,
 'red': 3,
 'pink': 4,
 'deep-blue': 9,
 'white': 5}

In [ ]:
# 8. сгенерируйте словарь, в котором ключи это значения из списка, полученного в пункте 1, а значения из пункта 3
dictionary = {user: square for user, square in zip(user_list, square_list)}
dictionary

{'user1': 4.0,
 'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9,
 'user10': 5.0}

In [ ]:
# 9. дополните предыдущий пункт условием так, чтобы оставить только тех пользователей, у которых в значении не целое число
filter_dictionary = {user: square for user, square in dictionary.items() if square != int(square)}
filter_dictionary

{'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9}

In [ ]:
# 10. дополните пункт 8 так, чтобы для всех пользователей из сгенерированных в пункте 1 создалась пара в итоговом словаре
import itertools

extended_dictionary = {user: value for user, value in itertools.zip_longest(user_list, square_list)}
extended_dictionary

{'user1': 4.0,
 'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9,
 'user10': 5.0,
 'user11': None,
 'user12': None,
 'user13': None,
 'user14': None,
 'user15': None}

In [ ]:
# 11. пользователь на экран в строку пишет значения для словаря в формате: коля:9 леша:10 ира:12 (Дополнительная!!!)
# распарсите эти значения в словарь с помощью одной строчки кода
user_dictionary = input().split()
parse = {kids.split(':')[0]: kids.split(':')[1] for kids in user_dictionary}
print(parse)

коля:9 леша:10 ира:12
{'коля': '9', 'леша': '10', 'ира': '12'}